<div ng-controller="reportController">
    <li ng-repeat="report in reports">
        <span>{{report}}</span>
        <button ng-click="fetchData(report)">Fetch Data</button>
    </li>

    <div ng-repeat="(name,data) in reportData">
        <span class="reportname">{{name}}</span>
        <table id="dt-{{ name }}" class="display dataTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th ng-repeat="(key,val) in data[0]">{{ key }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data">
                    <td ng-repeat="(key,val) in row"> {{ val }}</td>
                </tr>
            </tbody>
        </table>
        <button class="showChart" ng-click="showChart(name)">Show Chart</button>
    </div>
    <ng-include src="'/static/partials/charts.html'"></ng-include>
</div>

</div>
